.check .typography {
    line-height: 25px;
    margin: 10px;
}

.check-page__container {
    width: 300px;
    margin: 0 auto;
}


.check__btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.check__btns-container .btn {
    width: 100%;
}