.payments-and-transfers-page {
    display: flex;
    flex-direction: column;
  }

.payments-and-transfers-page__title {
  margin-left: 20px;
}


.payments-and-transfers-page__man {
  height: 200px;
  background-image: url('../../assets/png/maleSuccess.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 170px;
  width: 180px;
}

@media (max-width: 1210px) {
  .payments-and-transfers-page .sidebar {
    display: none;
  }
  .payments-and-transfers-page__title {
    display: none;
  }

}


@media (max-width: 665px) {
    .payments-and-transfers-page__man {
      display: none;
    }
}
