.btn {
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(27,39,51,.06);
    border: solid 1px rgba(27,39,51,.3);

    font-family: "SeroPro",sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: rgba(27,39,51,.9);
    transition: all .3s ease;

    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
}

.btn_medium {
    padding: 9px 20px 9px 20px;
    font-size: 16px;
    height: 40px;
}

.btn_big {
    min-width: 244px;
    height: 48px;
}

.btn_green {
    background-color: var(--light-green-color);
    box-shadow: 0 4px 6px 0 rgba(45, 129, 87, 0.5);
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
}