

.select__item {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(27,39,51,.9);
    
}

.select__item input {
    width: 100%;
    display: none;
}

.select__item:hover, .select__item_checked {
    background-color: #fff0de;
}

.select__item-label {
    width: 100%;
    display: block;
    padding: 8px;
    cursor: pointer;
}