.creation-form__container{
    border-radius: 4px;
    background-color: rgba(27,39,51,.03);
    padding: 24px;
}

.creation-form__select-container {
    display: flex;

    margin-bottom: 20px;
}

.creation-form__select-block {
    padding-right: 20px;
}

.currency-select {
    width: 150px;
}

