.section-header {
    margin-bottom: 12px;
}

.section-header__title{
    font-size: 28px;
    font-family: SBSansDisplay, SBSans, Arial, Helvetica, sans-serif;
    line-height: 36px;
    letter-spacing: -0.3px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    color: rgb(38, 38, 38);
}

.section-header__title_normal {
    font-size: 28px;
}

.section-header__title_small {
    font-size: 24px;
}