.main-page__main {
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: 40px;
}

.main__section {
    margin-top: 32px;
}

.main__section:last-child {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .main-page__main  {
        grid-template-columns: 1fr;
        gap: 40px;
    }
  }