.payments-and-transfers__list { 
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0 20px 0;
}

.payments-and-transfers__item {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.payments-and-transfers__item:hover {
    background-color: var(--grey-color);
}

.payments-and-transfers__link{ 
    display: flex;
    align-items: center;
    gap: 8px;
}

.payments-and-transfers__img-container {
    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.payments__img-container {
    background-color: #e5f9eb;
}

.transfers__img-container {
    background-color: #e2f9f9;
}

.payments-and-transfers__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    width: 36px;
    height: 36px;
}

.payments-and-transfers__text-container {
    max-width: 70%;
}