.amount-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.amount__input-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    color: #1b2733e6;
}

.amount__input {
    width: 144px;

    border-radius: 4px 0 0 4px;
    padding: 0 16px 0 16px;
}

.amount__input:focus{
    outline: none;
}

.amount__currency {
    width: 100px;
    border-radius: 0 4px 4px 0px;
    border-left: none;
    padding: 0 16px 0 16px;
}