.go-back-arrow {
    width: 28px;
    height: 40px;
    background: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -25px;
    top: calc(50% - 50px/2 - 5px); 
    cursor: pointer;
}