.go-back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    cursor: pointer;

}
.go-back-arrow {
    width: 28px;
    height: 40px;
    fill: black;
}