
.main__section {
    margin-top: 32px;
}

.products__dropdowns-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
}

.products__show-all {
    width: fit-content;
    font-family: SBSans, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgb(13, 133, 35);

    border-bottom-style: dashed;
    border-bottom-color: rgb(13, 133, 35);

    cursor: pointer;

    margin-top: 17px;
}