.border-dropdown {
    border-top: var(--grey-border);
    border-bottom: var(--grey-border);

    padding: 5px 0 5px 0;
}

.dropdown__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

.dropdown__toggle {
    display: flex;
    align-items: center;

    cursor: pointer;
} 

.dropdown__title {
    font-size: 22px;
    font-family: SBSansDisplay, SBSans, Arial, Helvetica, sans-serif;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: left;
    font-weight: 600;
    color: rgb(38, 38, 38);

    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

.dropdown__plus-contaiener{
    cursor: pointer;
}

.dropdown__body {
    margin-top: 16px;
}
