.typography{
    height: 1.43em;
    line-height: 1.43;
}

.typography_normal {
    font-size: 14px;
}

.typography_small {
    font-size: 12px;
}

.typography_big {
    font-size: 16px;
}
.typography_strong {
    font-weight: 600;
}

.typography_grey {
    color: #1b2733b3;
}

.typography_green {
    color:var(--light-green-color)
}

.typography_red {
    color: var(--red-color)
}

.typography_white {
    color: var(--white-color);
}

