.typography{
    line-height: 1.43;

    display: flex;
    align-items: center;

    gap: 5px;
}

.typography_normal {
    font-size: 14px;
}

.typography_small {
    font-size: 12px;
}

.typography_big {
    font-size: 16px;
}
.typography_strong {
    font-weight: 600;
}

.typography_grey {
    color: rgba(27,39,51,.7);
}

.typography_green {
    color: #11bf6a;
}

.typography_red {
    color: red;
}

.typography_white {
    color: white;
}

