.services {
    height: 200px;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: auto;
}


@media (max-width: 665px) {
    .services {
      
        
        justify-content: flex-start;
    
    }
    
}
