.card-page__table-row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid rgba(38,38,38,.08)
}

.table-row__img {
    width: 24px;
    height: 24px;
    margin-left: 20px;

    cursor: pointer;
}