.card-page__table-row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: var(--grey-border)
}

.table-row__img {
    width: 24px;
    height: 24px;
    
    display: inline-block;
    vertical-align: middle;

    margin-left: 20px;

    cursor: pointer;
}